/* ----------------------------------
    1. Imports
        1.1 CSS Reset (reset.css) 
        1.2 Import from Adobe Fonts = hwi5hwc (web project id)
    2. Global Rules
        2.1 Variables
            2.1.1 Colors
            2.1.2 Font Weights
            2.1.3 Font Sizes
    3. Additional CSS
    4. Home Page
            4.1 Mobile View
            4.2 Tablet View
            4.3 Screen View
------------------------------------- */

/* --- 1. Imports --- */
/* 1.1 CSS Reset (reset.css)  */
@import url(reset.css);

/* 1.2 Import from Adobe Fonts = uua6dbt (web project id) */
@import url("https://use.typekit.net/uua6dbt.css");
@import url(stylesheet.css);

/* --- 2. Global Rules --- */

    /* 2.1 Variables */
        
        :root {

            /* 2.1.1 Colors */

            --black-c: #000000;
            --white-c: #FFFFFF;
            --bg-grey-c: #CCCCCC;

            /* 2.1.3 Font Sizes */
            

            /* 2.1.4 Fonts */
            --text-f: "proxima-nova","museo", sans-serif;

            font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";

        }

        /* --- 4. Home Page --- */

    /* 4.1 Mobile View */

    body {
        background-color: var(--bg-grey-c);
        font-family: var(--text-f);
        font-size: 3rem;

    }

    img {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
        filter: grayscale(100%);


    }

    h2 {
        text-align: center;

    }

    p {
        font-size: 1.5rem;
        padding: 1rem 0;
        text-align: center;
        font-family: "museo";

    }

    span {
        font-family: "proxima-nova";
        font-size: 1rem;

    }

    /* Classes */

    .logo {
        filter: grayscale(0%);

    }

    .centerNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sideNav {
        position: fixed;
        right: 0;
        width: 200px;
        height: 100%;
        overflow-x: hidden;
        padding-top: 20px;
        text-align: right;

    }

    .sideNav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      
      .sideNav li a {
        display: block;
        color: var(--black-c);
        padding: 8px 16px;
        text-decoration: none;
      }
      
      .sideNav li a:hover {
        background-color: #ddd;
      }

      /* .popup-window {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: var(--white-c);
        border: 1px solid var(--black-c);
        z-index: 10;
      } */

      .popup-window img {
        filter: grayscale(0%);

      }

      .portfolio {
        font-family: sans-serif;
        font-size: 1rem;

      }



    /* 4.2 Tablet View */

    @media screen and (min-width:33.75em) {

        /* ID's */

        /* Classes */

    }

    /* 4.3 Screen View */

    @media screen and (min-width:64em) {


    }