/* ----------------------------------
    1. Imports
        1.1 CSS Reset (reset.css) 
        1.2 Import from Adobe Fonts = hwi5hwc (web project id)
    2. Global Rules
        2.1 Variables
            2.1.1 Colors
            2.1.2 Font Weights
            2.1.3 Font Sizes
    3. Additional CSS
    4. Home Page
            4.1 Mobile View
            4.2 Tablet View
            4.3 Screen View
------------------------------------- */

/* --- 1. Imports --- */
/* 1.1 CSS Reset (reset.css)  */
@import url(reset.css);

/* 1.2 Import from Adobe Fonts = uua6dbt (web project id) */
@import url("https://use.typekit.net/uua6dbt.css");
@import url(stylesheet.css);

/* --- 2. Global Rules --- */

    /* 2.1 Variables */
        
        :root {

            /* 2.1.1 Colors */
            --color-list: #146152 #9FC131 #DBF227 #F2EED8 #484747;
            --teal-c: #146152;
            --green-c: #9FC131;
            --yellow-green-c: #DBF227;
            --offwhite-c: #F2EED8;
            --dark-grey-c: #484747;

            /* 2.1.3 Font Sizes */

            /* 2.1.4 Fonts */
            --text-f: "proxima-nova","museo", sans-serif;

            font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";

        }

        /* --- 4. Home Page --- */

    /* 4.1 Mobile View */

    body {
      font-family: var(--text-f);
      font-size: 3rem;
    
      
    }

    div {
      text-decoration: none;
      margin-bottom: 2rem;

    }

    div img {
      width: 10rem;
      height: 2rem;
      padding-top: 2rem;

    }

    img {
      /* width: 50%; */
      height: auto;
      display: block;
      margin: 0 auto;
      filter: grayscale(100%);

    }

    h2 {
      text-align: center;

    }

    p {
      font-size: 1.5rem;
      padding: 1rem 0;
      text-align: center;
      font-family: "museo";

    }

    span {
      font-family: "proxima-nova";
      font-size: 1rem;

    }

    /* Classes */
    .container-fluid{
      margin:0 !important;
      padding:0 !important;
    }

    .logo-header{
      width: 100%;
      margin: 0;
      padding: 0;
      /* background-image:url('../img/swirls.jpg'); */
      background-image: linear-gradient(to bottom,#9fc13198,#14615281, rgb(255, 255, 255)), url('../img/swirls.jpg');
      background-size: cover; /* You can use values like 'contain' or '50% 50%' for background positioning */
      background-repeat: no-repeat;
      background-position: center;
    }
    .logo {
      width: 50%;
      height: 50vw;
      filter: grayscale(0%);
        
      /* animation: floatDown 3s ; */
      animation-name: floatDown;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-play-state: running;
    }

    .centerNav {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .centerNav a {
      padding:0 10rem;
      font-size: 5rem;
      text-decoration: none;
      color: var(--black-c);

    }

    .centerNav a:hover {
      background-color: var(--green-c);
      transition: 1s all;

    }
/* 
    .sideNav {
      position: fixed;
      right: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      padding-top: 20px;
      text-align: right;

    }

    .sideNav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    
    .sideNav li a {
      display: block;
      color: var(--black-c);
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .sideNav li a:hover {
      background-color: #ddd;
    } */

    .portfolio {
      font-family: sans-serif;
      font-size: 1rem;

    }

    .profile-photo {
      height: 12vw;
      border-radius: 50%;
      
    }

    .profile-card{
      transition: 1s all;
      
    }
    .profile-card:hover{
        background-color: var(--green-c);
        /* opacity: 0.7; */
        /* border-radius: 50%; */
        box-shadow: 1px 1px 1px #4f4fae36;
        margin: 0rem -2rem;
    }
    .profile-card-injection{
      /* width: 400px !important; */
      transition: 1s all;
      border-radius: 2px;
    }
    .profile-card-injection:hover{
        /* background-color: var(--green-c); */
        /* background-color: var(--random-color); */
        /* opacity: 0.7; */
        /* border-radius: 50%; */
        box-shadow: 1px 1px 1px #4f4fae36;
        
    }

    i{
      color: var(--teal-c) !important;
    }

    /* 4.2 Tablet View */

    @media screen and (min-width:33.75em) {

        /* ID's */

        /* Classes */

    }

    /* 4.3 Screen View */

    @media screen and (min-width:64em) {


    }


/* --- 10.1 CSS animation ?--- */
@keyframes floatDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    filter: blur(2px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(10%);
    filter: blur(1px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}