body {
    margin-top: 50px;
    overflow-y: scroll;
  }
  
  .img-responsive {
    width:100%;
  }
  
  .col-xs-6{
    margin-bottom: 20px;
  }
  
  .product-detail {
    width: 100%;
    height:300px;
    background-size: cover;
    background-position: center center;
  }
  
  .no-padding-left {
    padding-left: 0;
  }
  
  .product-collapse-wrap > div {
    margin-bottom: 20px;
  }